// Schéma de couleurs personnalisé pour Just the Docs

// Couleurs principales
$link-color: #1f6feb;
$body-background-color: #fdfdfd;
$sidebar-color: #f2f2f2;
$code-background-color: #d6336c;
$body-text-color: #333333;

// Mode sombre
$link-color-dark: #58a6ff;
$body-background-color-dark: #1a1a1a;
$sidebar-color-dark: #222222;
$code-background-color-dark: #bb86fc;
$body-text-color-dark: #dddddd;

// Police
$body-font-family: "Inter", sans-serif;
